# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Учеба\4 курс\Декларативные языки\Scala\recfun\recfun\.idea/dataSources/
/dataSources.local.xml
