# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Учеба\4 курс\Декларативные языки\Scala\Higher-Order Functions\.idea/dataSources/
/dataSources.local.xml
